In [34]:
import pandas as pd

In [35]:
pd.__version__

'2.0.3'

In [36]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [37]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_pickup_datetime)
import sys
sys.executable

'c:\\Users\\20399\\anaconda3\\python.exe'

In [38]:



from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres@localhost:5432/ny_taxi')
with engine.connect() as conn:
    print("数据库连接成功！")

数据库连接成功！

In [39]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [40]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)
df = next(df_iter)
len(df)

100000

In [41]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [42]:
df.head(0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')  #将df的第一行也就是表的表头们装进去

0

In [43]:

df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

1000

In [45]:
while True:
    try:
        # 获取下一批数据
        df = next(df_iter)
        
        # 转换时间格式
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        # 写入数据库
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    except StopIteration:
        # 当 df_iter 耗尽时退出循环
        print("All data has been processed.")
        break

C:\Users\20399\AppData\Local\Temp\ipykernel_13260\1401001360.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

All data has been processed.